In [1]:
# dataset disponivel em: 
# https://www.kaggle.com/datasets/robikscube/flight-delay-dataset-20182022

In [1]:
# carregando as bibliotecas
import os
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
# Criando dataframes separadamente por ano e após carregar em um único dataframe

df_flights = pd.DataFrame()

In [11]:
# Criando um dataframe para 2018

flights_2018 = pd.DataFrame()
for j in range(1,13):
    file = Path(f'C:/Users/Raymundo/Documentos/Estudos/UFPR-Estatistica/2_Periodo/CE329 - Aprendizagem de Maquina/Trabalho Machine Learning/Projeto04/Dataset/raw/Flights_2018_{j}.csv')
    
    import_df = pd.read_csv(file,low_memory=False,engine='c')
    flights_2018 = pd.concat([flights_2018,import_df],ignore_index=True)
    
flights_2018.head(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2018,1,1,23,2,2018-01-23,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2018,1,1,24,3,2018-01-24,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2018,1,1,25,4,2018-01-25,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2018,1,1,26,5,2018-01-26,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2018,1,1,27,6,2018-01-27,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,2018,1,1,28,7,2018-01-28,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,2018,1,1,29,1,2018-01-29,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,2018,1,1,30,2,2018-01-30,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,2018,1,1,31,3,2018-01-31,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,2018,1,1,3,3,2018-01-03,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [2]:
# Criando um dataframe para 2019

flights_2019 = pd.DataFrame()
for j in range(1,13):
    file = Path(f'C:/Users/Raymundo/Documentos/Estudos/UFPR-Estatistica/2_Periodo/CE329 - Aprendizagem de Maquina/Trabalho Machine Learning/Projeto04/Dataset/raw/Flights_2019_{j}.csv')
    
    import_df = pd.read_csv(file,low_memory=False,engine='c')
    flights_2019 = pd.concat([flights_2019,import_df],ignore_index=True)
    
flights_2019.head(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2019,1,1,4,5,2019-01-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2019,1,1,4,5,2019-01-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2019,1,1,4,5,2019-01-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2019,1,1,4,5,2019-01-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2019,1,1,4,5,2019-01-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,2019,1,1,4,5,2019-01-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,2019,1,1,4,5,2019-01-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,2019,1,1,4,5,2019-01-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,2019,1,1,4,5,2019-01-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,2019,1,1,4,5,2019-01-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [3]:
# Criando um dataframe para 2020

flights_2020 = pd.DataFrame()
for j in range(1,13):
    file = Path(f'C:/Users/Raymundo/Documentos/Estudos/UFPR-Estatistica/2_Periodo/CE329 - Aprendizagem de Maquina/Trabalho Machine Learning/Projeto04/Dataset/raw/Flights_2020_{j}.csv')
    
    import_df = pd.read_csv(file,low_memory=False,engine='c')
    flights_2020 = pd.concat([flights_2020,import_df],ignore_index=True)
    
flights_2020.head(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2020,1,1,17,5,2020-01-17,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2020,1,1,18,6,2020-01-18,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2020,1,1,19,7,2020-01-19,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2020,1,1,20,1,2020-01-20,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2020,1,1,21,2,2020-01-21,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,2020,1,1,22,3,2020-01-22,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,2020,1,1,23,4,2020-01-23,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,2020,1,1,24,5,2020-01-24,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,2020,1,1,25,6,2020-01-25,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,2020,1,1,26,7,2020-01-26,B6,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [4]:
# Criando um dataframe para 2021

flights_2021 = pd.DataFrame()
for j in range(1,13):
    file = Path(f'C:/Users/Raymundo/Documentos/Estudos/UFPR-Estatistica/2_Periodo/CE329 - Aprendizagem de Maquina/Trabalho Machine Learning/Projeto04/Dataset/raw/Flights_2021_{j}.csv')
    
    import_df = pd.read_csv(file,low_memory=False,engine='c')
    flights_2021 = pd.concat([flights_2021,import_df],ignore_index=True)
    
flights_2021.head(10)

MemoryError: Unable to allocate 1.13 GiB for an array with shape (24, 6311871) and data type float64

In [ ]:
# Criando um dataframe para 2022

flights_2022 = pd.DataFrame()
for j in range(1,13):
    file = Path(f'C:/Users/Raymundo/Documentos/Estudos/UFPR-Estatistica/2_Periodo/CE329 - Aprendizagem de Maquina/Trabalho Machine Learning/Projeto04/Dataset/raw/Flights_2022_{j}.csv')
    
    import_df = pd.read_csv(file,low_memory=False,engine='c')
    flights_2022 = pd.concat([flights_2022,import_df],ignore_index=True)
    
flights_2022.head(10)